<h1>Password Generator</h1>

<label for="">Enter your Password Length</label>
<input />

<div>
  <label for="">Use Letters</label>
  <input type="checkbox" name="numbers" id="">
</div>

<div>
  <label for="">Use Numbers</label>
  <input type="checkbox" name="numbers" id="">
</div>

<div>
  <label for="">Use Symbols</label>
  <input type="checkbox" name="numbers" id="">
</div>

<div>
  <button (click) = 'buttonClick()'>Generate</button>
</div>

<div>
  <label for="">Your Password</label>
  <input [value] = 'password' />
</div>